html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

@font-face {
  font-family: "Muller";
  src: local("Muller-Regular"),
    url("../fonts/MullerRegular.woff2") format("woff2"),
    url("../fonts/MullerRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local("Muller-Medium"),
    url("../fonts/MullerMedium.woff2") format("woff2"),
    url("../fonts/MullerMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local("Muller-Bold"),
    url("../fonts/MullerBold.woff2") format("woff2"),
    url("../fonts/MullerBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Muller', sans-serif;
  font-weight: 400;
  background-color: #f1f1f1;
}

/* glob */

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.flex {
  display: flex;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

.section-offset {
  padding-top: 70px;
}

h1,h2,h3,h4,h5,h6,p {
  margin: 0;
}

.btn {
  padding: 13px 20px;
  outline: 1px solid #CC9933;
  outline-offset: -1.3px;
  border-radius: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #CC9933;
  transition: color .3s ease-in-out, background-color .3s ease-in-out, outline .3s ease-in-out;
}

.btn:focus-visible {
  color: #fff;
  background-color: #CC9933;
}

.btn:hover {
  color: #fff;
  background-color: #CC9933;
}

.btn:active {
  outline: none;
  color: #fff;
  background-color: #A47312;
}

.section-title {
  margin-bottom: 20px;
  text-indent: 35px;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: #333333;
}

.more-link {
  color: #F0BF5F;
  background-size: contain;
  background-position: right center;
  background-repeat: no-repeat;
  transition: color .3s ease-in-out;
}

:root {
  --gap: 24px;
  --white: #FFF;
  --gray: #666;
  --black: #000;
  --light-gold: #F0BF5F;
  --gold: #CC9933;
  --dark-gold: #A47312;
}

/* header */

.header-start {
  align-items: center;
  margin-bottom: 30px;
  padding-top: 30px;
}

.header-logo-link {
  line-height: 0;
  margin-right: 40px;
}

.header-tel {
  margin-right: auto;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: var(--gray);
}

.personal-account {
  font-size: 16px;
  line-height: 24px;
  color: var(--gold);
  transition: color .3s ease-in-out;
}

.account-svg {
  transition: fill .3s ease-in-out;
}

.personal-account:focus-visible {
  outline: 1px solid var(--gold);
}

.personal-account:hover {
  color: var(--light-gold);
}

.personal-account:hover .account-svg {
  fill: var(--light-gold);
}

.personal-account:active {
  color: var(--dark-gold);
}

.personal-account:active .account-svg {
  fill: var(--dark-gold);
}

.header-nav {
  align-items: center;
  justify-content: space-between;
  padding: 14px 45px;
  border-radius: 15px;
  background: var(--white);
}

.header-list-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--gray);
}

.header-link {
  transition: color .3s ease-in-out;
}

.header-link:focus-visible{
  color: var(--gold);
  outline: 1px solid var(--gold);
}

.header-link:hover{
  color: var(--gold);
}

.header-link:active{
  color: var(--dark-gold);
}

.header-list-item:not(:last-child) {
  margin-right: 45px;
}

.header-btns-item:not(:last-child) {
  margin-right: 40px;
}

/* main */

/* offer */

.offer__content {
  min-height: 540px;
  column-gap: var(--gap);
}
.offer__block {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  width: calc((100% - var(--gap)) / 2);
}

/* .offer__block:not(:last-child) {
  margin-right: 24px;
} */

.offer__item {
  flex: 1;
  flex-direction: column;
  overflow: hidden;
  padding: 40px;
  border-radius: 15px;
  background-size: cover;
  background-repeat: no-repeat;
  transition: background-image 0.5s ease-in-out;
}

.offer__item__maldives {
  background-image: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url(../img/maldives.jpg);
}

.offer__item__crete {
  background-image: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url(../img/crete.jpg);
}

.offer__item-big {
  flex-direction: column;
  justify-content: flex-end;
  background-image: url(../img/lux.jpg);
}

.offer__item:last-child {
  margin-bottom: 0;
}

.offer__title {
  margin-bottom: 15px;
  max-width: 420px;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  color: var(--white);
}

.offer__title__big {
  font-size: 60px;
  line-height: 60px;
}

.offer__price {
  margin-bottom: 50px;
  font-size: 20px;
  line-height: 20px;
  color: var(--white);
}

.offer__more-link {
  padding-right: 15px;
  max-width: fit-content;
  font-size: 16px;
  line-height: 16px;
  background-image: url(../img/more-link.svg);
  transition: color .3s ease-in-out, padding-right .3s ease-in-out;
}

.offer__more-link:hover {
  padding-right: 30px;
}

.offer__more-link:active {
  color: var(--white);
}

/* about */

.about-descr {
padding-right: 300px;
font-weight: 400;
font-size: 16px;
line-height: 200%;
}

/* services */

.services-list {
  flex-wrap: wrap;
  gap: var(--gap);
}

.services-item {
  flex-direction: column;
  justify-content: flex-end;
  padding: 191px 126px 35px 45px;
  border-radius: 15px;
  width: calc((100% - var(--gap)) / 2);
  min-height: 330px;
  line-height: 40px;
  overflow: hidden;
  background-color: var(--white);
  background-size: contain;
  background-position: center top;
  background-repeat: no-repeat;
}


.servbg-1 {
  background-image: url(../img/servbg-1.jpg);
}

.servbg-2 {
  background-image: url(../img/servbg-2.jpg);
}

.servbg-3 {
  background-image: url(../img/servbg-3.jpg);
}

.servbg-4 {
  background-image: url(../img/servbg-4.jpg);
}

.services-item-title-link {
  padding-right: 20px;
  max-width: fit-content;
  font-weight: 500;
  font-size: 20px;
  line-height: 200%;
  color: var(--gold);
  background-image: url(../img/more-link.svg);
  transition: color .3s ease-in-out, padding-right .3s ease-in-out;
}

.services-item-title-link:hover {
  padding-right: 40px;
  color: var(--light-gold);
}

.services-item-title-link:active {
  color: var(--dark-gold);
}

.services-item-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
}

 /* advantages */

.advantages-list {
  flex-wrap: wrap;
  justify-content: center;
  gap: 22px;
}

.advantages-item {
  flex-direction: column;
  justify-content: flex-end;
  padding: 116px 45px 32px 42px;
  border-radius: 15px;
  width: calc((100% - 22px*3) / 4);
  min-height: 270px;
  background-color: #fff;
  background-position: left 45px top 40px;
  background-repeat: no-repeat;
}

.advantages-item-descr {
  max-width: 190px;
  font-size: 16px;
  line-height: 200%;
}

.adv-item-icon-1 {
  background-image: url(../img/bathtub.svg);

}

.adv-item-icon-2 {
  background-image: url(../img/hanger.svg);
}

.adv-item-icon-3 {
  background-image: url(../img/heating.svg);
}

.adv-item-icon-4 {
  background-image: url(../img/hotel-key.svg);
}

.adv-item-icon-5 {
  background-image: url(../img/parking.svg);
}

.adv-item-icon-6 {
  background-image: url(../img/reception.svg);
}

.adv-item-icon-7 {
  background-image: url(../img/security-box.svg);
}

.adv-item-icon-8 {
  background-image: url(../img/swimming-pool.svg);
}

/* placement */

.placement-list {
  flex-wrap: wrap;
  gap: var(--gap);
}

.placement-item {
  border-radius: 15px;
  width: calc((100% - var(--gap)*2) / 3);
  min-height: 440px;
  overflow: hidden;
  background-color: var(--white);
}

.placment-artice-cover {
  max-width: 100%;
  height: auto;
}

.placement-item-descr {
  padding: 30px 45px 45px 45px;
}

.placement-article-price-pre {
  font-size: 16px;
  line-height: 16px;
  color: #999999;
}

.placement-article-price-figure {
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
}

.placement-article-price-post {
  font-size: 16px;
 line-height: 16px;
 margin-right: 50px;
}

.placement-price-rate {
  margin-bottom: 16px;
}

.placement-article-name {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 16px;
}

.placement-article-place {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #999999;
}

.last-placement-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  background-image: url(../img/plc-show-all.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.placement-last-item-link {
  padding-right: 20px;
  margin-bottom: 27px;
  font-weight: 500;
  font-size: 20px;
  line-height: 200%;
  color: var(--white);
  background-image: url(../img/more-link-white.svg);
  background-size: 11px;
  background-position: right center;
  background-repeat: no-repeat;
  transition: color .3s ease-in-out, padding-right .3s ease-in-out;
}

.placement-last-item-link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.placement-last-item-link:hover {
 padding-right: 30px;
}

.placement-last-item-link:active {
  color: var(--light-gold);
}

/* tour */

.tour__container {
  padding-top: 45px;
  padding-bottom: 45px;
  border-radius: 15px;
  background: #E9E9E9;
}

.form-reset {
  border: none;
  font-size: 16px;
  line-height: 16px;
}

.form {
  justify-content: space-between;
  align-items: center;
  width: 1080px;
  padding: 30px 28px;
  margin: 0 auto;
  border: none;
  border-radius: 15px;
  background: var(--white);
}

.form-label {
  display: block;
  margin-bottom: 15px;
  font-size: 12px;
  line-height: 12px;
}

.form-select {
  width: 169px;
  padding: 2px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-image: url(/img/select-ico.svg);
  background-repeat: no-repeat;
  background-position: right center;
}

.form-input {
  width: 121px;
  border-bottom: 1px solid #E9E9E9;
  ;
}

/* contacts */

.contacts-contentbox {
  justify-content: space-between;
  padding: 45px;
  border-radius: 15px;
  background-color: var(--white);
}

.contacts-list {
  margin-bottom: 50px;
}

.contacts-left {
  width: 375px;
}

.contacts-item {
  flex-wrap: wrap;
  text-align: left;
  border-bottom: 1px solid #e9e9e9;
}

.contacts-item {
  padding-bottom: 22px;
}

.contacts-item:not(:first-child) {
  padding-top: 25px;
}

.contacts-item-caption {
  margin-right: auto;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
}

.contacts-item-text {
  width: 230px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.regular-link {
  display: block;
  width: fit-content;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--gold);
  transition: color .3s ease-in-out;
}

.regular-link:focus-visible {
  outline: 1px solid var(--gold);
}

.regular-link:hover {
  color: var(--light-gold);
}

.regular-link:active {
  color: var(--dark-gold);
}

.contacts-links {
  width: 230px;
}

.contacts-email-label {
  font-size: 16px;
  line-height: 150%;
  color: #999999;
}

.contacts-btn {
  padding: 27px 30px;
}

.contacts-img {
  width: 100%;
  border-radius: 15px;
}

/* footer */

.footer {
  padding: 30px 0;
}

.footer__container {
  justify-content: space-between;
  padding: 45px;
  border-radius: 15px;
  background-color: #333333;
  background-image: url(/img/sun-footer.svg);
  background-repeat: no-repeat;
  background-position: right 177px bottom;
}

.footer-text {
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 190%;
  color: var(--white);
}

.footer-info {
  width: 302px;
  margin-right: 125px;
}

.footer-contacts {
  margin-right: 270px;
}

.footer-contacts-adress {
  margin-bottom: 15px;
}

.footer-phone {
  margin-bottom: 15px;
}

.footer-social-link {
  display: block;
}

.ftr-scl-svg {
  transition: fill .3s ease-in-out;
}

.footer-social-link:not(:last-child) {
  margin-bottom: 20px;
}

.footer-social-link:focus-visible .ftr-scl-svg {
  fill: var(--gold);
}

.footer-social-link:hover .ftr-scl-svg {
  fill: var(--gold);
}

.footer-social-link:active .ftr-scl-svg {
  fill: var(--dark-gold);
}
